<!DOCTYPE html> 
<html lang="en" ng-app="myApp">
    <head> 
        <meta charset="UTF-8"> 
        <title>Title</title>         
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet"> 
        <!-- Custom styles for this template -->         
        <!--<link href="stylesheets/jumbotron.css" rel="stylesheet">-->         
        <link href="https://fonts.googleapis.com/css?family=Lobster|Sedgwick+Ave|Noto+Serif|Oxygen:300|Bitter|PT+Sans:400i" rel="stylesheet"> 
        <link href="index-wf-style.css" rel="stylesheet" type="text/css">
    </head>     
    <body> 
        <div class="container" id="main-container" ng-controller="MyCtrl as ctrl">
            <div class="row text-center" id="wf-head-row">
                <h2 id="wf-head-text">Waitstaff Calculator</h2>
                <span>basePrice = {{ctrl.basePrice}}</span><br>
                <span>taxRate   = {{ctrl.taxRate}}</span><br>
                <span>tipPerc   = {{ctrl.tipPerc}}</span><br>
                <span>sub_chg_sub_tot = {{ctrl.sub_chg_sub_tot}}</span><br>
                <span>sub_chg_tip     = {{ctrl.sub_chg_tip}}</span><br>
                <span>sub_chg_tot     = {{ctrl.sub_chg_tot}}</span><br>
                <span>ern_tip_tot = {{ctrl.ern_tip_tot}}</span><br>
                <span>ern_ml_cnt  = {{ctrl.ern_ml_cnt}}</span><br>
                <span>ern_avg_tip = {{ctrl.ern_avg_tip}}</span><br>
                <span>ValidForm! {{inputForm.$valid}}</span><br>
                <span>ValidForm! {{inputForm.$submitted}}</span><br>
<!--                    <span>Gender {{ctrl.gender}}</span><br>
                    <span>Valid! {{ctrl.validForm}}</span><br>
                    <span>Form Submitted! {{inputForm.$submitted}}</span><br>
                    <span>Error fname! {{inputForm.fname.$error}}</span><br>
                    <span>Error dtask! {{inputForm.dtask.$error}}</span><br>
                    <span>Error oceleb! {{inputForm.oceleb.$error}}</span><br>
                    <span>Error jtitle! {{inputForm.jtitle.$error}}</span><br>
                    <span>Error celeb! {{inputForm.celeb.$error}}</span><br>
                    <span>Error hnum! {{inputForm.hnum.$error}}</span><br>
                    <span>Error ttask! {{inputForm.ttask.$error}}</span><br>
                    <span>Error uskill! {{inputForm.uskill.$error}}</span><br>
                    <span>Error adj! {{inputForm.adj.$error}}</span><br>
                    <span>ValidForm! {{inputForm.$valid}}</span><br>-->

            </div>
            <div class="row" id="empty-row"></div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5" id="form-col">
                    <div class="row text-center" id="form-head-sec">
                        <h3 id="form-head-text">Enter Meal Details</h3>
                    </div>
                    <div class="row" id="form-sec">
                        <form class="form-horizontal" id="form-calc" name="inputForm" novalidate ng-submit="ctrl.submit(inputForm)">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="basePrice">Base Meal Price: $</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="basePrice" name="basePrice" placeholder="9.99" required  ng-model="ctrl.basePrice" ng-pattern="/^[1-9]+[0-9]*(\.[0-9]{1,2})?$/">
                                    <div ng-if="inputForm.$submitted" ng-messages="inputForm.basePrice.$error">
                                        <span class="error" ng-message="required">Field is required!</span>
                                        <span class="error" ng-message="pattern">Only Non-Zero Numbers allowed</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="taxRate">Tax Rate: %</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="taxRate" name="taxRate" required ng-model="ctrl.taxRate" ng-pattern="/^[1-9]+[0-9]*(\.[0-9]{1,2})?$/">
                                    <div ng-if="inputForm.$submitted" ng-messages="inputForm.taxRate.$error">
                                        <span class="error" ng-message="required">Field is required!</span>
                                        <span class="error" ng-message="pattern">Only Non-Zero Numbers allowed</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="tipPerc">Tip Percentage: %</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="tipPerc" name="tipPerc" required ng-model="ctrl.tipPerc" ng-pattern="/^[1-9]+[0-9]*(\.[0-9]{1,2})?$/">
                                    <div ng-if="inputForm.$submitted" ng-messages="inputForm.tipPerc.$error">
                                        <span class="error" ng-message="required">Field is required!</span>
                                        <span class="error" ng-message="pattern">Only Non-Zero Numbers allowed</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-1 text-center">
                                    <button type="submit" class="btn btn-default" id="btn-submit" ng->Submit</button>
                                    <button type="button" class="btn btn-default" id="btn-cancel" ng-click="ctrl.reset(inputForm)">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div class="row text-center" id="customer-charge-head">
                        <h3 id="charge-head-text">Customer Charges</h3>
                    </div>
                    <div class="row" id="customer-charge">
                        <p id="charge-subtot-text">Subtotal : {{ctrl.sub_chg_sub_tot}}</p>
                        <p id="charge-tip-text">Tip : {{ctrl.sub_chg_tip}}</p>
                        <p id="charge-line-text">------------------------</p>
                        <p id="charge-tot-text">Total : {{ctrl.sub_chg_tot}}</p>
                    </div>
                    <div class="row" id="empty-row-1"></div>
                    <div class="row text-center" id="earning-info-head">
                        <h3 id="earn-head-text">My Earnings Info</h3>
                    </div>
                    <div class="row" id="earning-info">

                        <p id="earn-tiptot-text">Tip Total : {{ctrl.ern_tip_tot}}</p>
                        <p id="earn-mealcnt-text">Meal Count : {{ctrl.ern_ml_cnt}}</p>
                        <p id="earn-avgtip-text">Avg Tip per Meal Count : {{ctrl.ern_avg_tip}}</p>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row text-center" id="reset-sec">
                <input type="button" class="form-control" value="Reset" id="btn-reset" ng-click="ctrl.clear(inputForm)">
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-messages.min.js"></script>
        <script src="myApp.js"></script>
    </body>     
</html>
