body {
  background-color: white;
}


/*#md-head-text {*/
  /*margin-top: -.1em;*/
/*}*/

#main-container {
  width: 80%;
    margin-top: 10em;
    border: 1px solid;
}


#wf-head-row{
    border: 1px solid;
    border-collapse: collapse;
}

#form-head-sec{
    border: 1px solid;
    border-collapse: collapse;
}
#form-sec{
    border: 1px solid;
    border-collapse: collapse;
    height: 25em;
    padding-top: 2em;
}

#customer-charge-head{
    border: 1px solid;
    border-collapse: collapse;
}
#customer-charge{
    border: 1px solid;
    border-collapse: collapse;
    padding-left: 2em;
    padding-top: 2em;
}

#earning-info-head{
    border: 1px solid;
    border-collapse: collapse;
}
#earning-info{
    border: 1px solid;
    border-collapse: collapse;
    padding-left: 2em;
    padding-top: 2em;
}

#empty-row{
    height: 2em;
}
#empty-row-1{
    height: 2em;
}

#reset-sec{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}
#btn-reset{
    width:100px;
    /*margin: auto;*/
}